<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero esse nobis incidunt atque labore corrupti! Suscipit magnam quisquam veritatis deserunt nesciunt, qui fugit sed, laboriosam harum asperiores eum, dicta corrupti?</p>
    </div>
</div>